body, h1, h2, h3, p, ul, ol {
    margin: 0;
    padding: 0;
    list-style: none; /* Убираем маркеры у списков */



}


/* Устанавливаем box-sizing */

* {
    box-sizing: border-box;
}



a:hover {
    transform: translate3d(0, -2px, 2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    text-align: center;
}


a {
    display: inline-block; /* для изменения ресстояния между вертикально расположенными элементами нужно использовать display: inline-block и margin:  */
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
    
}
.header {
    display: flex;
    align-items: center;
    text-align: center;
    height: 50px;
    text-align: center;
}

.header_link:first-child {
    text-decoration: underline; /* чтобы заработал first-child, ссылки дб в контейнере, т.к. он не видит родительскую ссылку. */
}

.header_link:last-child {
    border-right: 3px solid orange;
    padding-right: 32px; 
       
}

.header_link:nth-child(2n) {
    background-color: brown; /* каждый второй элемент с цветом фона если 2n-1 то начиная с первого*/
}

.list_item_new::after {
    content: ' new!';
    color: red;
}

.list_item {
    margin: 5px;
}
.parent:hover .child {
    background-color: blueviolet;
}